# Basic .gitattributes for a R repo.

# Source files
# ============
*.Rdata text
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	text
*.R  	text

*.css linguist-detectable=false
*.scss linguist-detectable=false
*.sass linguist-detectable=false
